{% extends 'base.html' %}
{% block head %}<script src="static/js/script.js"></script>{% endblock %}
{% block body %}
<div class="main">
    <div class="container_about_general">
        <div class="container_event">
            <div class="about_event_img"><img src="static/img/events/event_img.png"></div>
            <div class="about_event">
                <div class="about_event_name"><h1>Wine party 2023</h1></div>
                <div class="event_loc_data"><a href="#" class="event_loc"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 -2 28 28" fill="none">
  <path d="M16.9163 10.5C16.9163 12.1108 15.6105 13.4167 13.9997 13.4167C12.3889 13.4167 11.083 12.1108 11.083 10.5C11.083 8.88917 12.3889 7.58333 13.9997 7.58333C15.6105 7.58333 16.9163 8.88917 16.9163 10.5Z" stroke="#CC2727" stroke-width="1.5"/>
  <path d="M15.4666 20.4092C15.0731 20.7881 14.5472 21 13.9999 21C13.4525 21 12.9266 20.7881 12.5331 20.4092C8.92969 16.9176 4.10073 13.0171 6.45567 7.35435C7.72896 4.29254 10.7854 2.33333 13.9999 2.33333C17.2143 2.33333 20.2707 4.29255 21.544 7.35435C23.896 13.01 19.0789 16.9296 15.4666 20.4092Z" stroke="#CC2727" stroke-width="1.5"/>
  <path d="M21 23.3333C21 24.622 17.866 25.6667 14 25.6667C10.134 25.6667 7 24.622 7 23.3333" stroke="#CC2727" stroke-width="1.5" stroke-linecap="round"/>
</svg> Armenia,Areni</a></div>
                <div class="about_event_text"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.*crafted from the heart.ocally made, sustainably crafted from grain to glass.*crafted from the heart.ocally made, sustainably crafted from grain to glass.*crafted from the heart.ocally made, sustainably crafted from grain to glass.*crafted from the heart.ocally made, sustainably crafted from grain to glass.*crafted from the heart.ocally made, sustainably crafted</p></div>
                <div class="div_for_border">
                    <div class="shrift ml"><p>people</p>200</div>
                    <div class="shrift type"><p>Type</p>sWEET</div>
                    <div class="shrift old"><p>place</p>Areni</div>
                </div>
                <button class="card_btn reserve">Reserve</button>
            </div>
        </div>
         <div class="about_us_header">
            <div class="about_us"><h1><span class="bold">Suggested </span>Guides</h1></div>
            <div class="moto_about"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
        </div>
        <div class="slider-wrapper" id="wrapper">
              <div class="slider_container" id="carousel">
                  <div class="main_slider_card" id="content">
                       <div class="slider_cards">
                    <div class="slider_item">
                        <img src="static/img/general/guide_1.png">
                    </div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
                        <div class="slider_cards">
                    <div class="slider_item"><img src="static/img/general/guide_1.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
                        <div class="slider_cards">
                    <div class="slider_item"><img src="static/img/general/guide_2.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
                        <div class="slider_cards">
                    <div class="slider_item"><img src="static/img/general/guide_3.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
                  </div>
            </div>
                  <button id="prev"><img src="static/img/icons/white_arrow.png"></button>
                  <button id="next"><img src="static/img/icons/white_arrow.png"></button>
          </div>
    </div>
</div>

{% endblock %}