<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

    </head>
    <body>

        <div class="searchbar">
             <div class="blank">

            </div>
            <div class="search-div">
                <form action="", class="search-form">
                    <input type="text" placeholder="Search">
                    <button type="submit" ><img src="static/img/icons/search_icon.png"></button>
                </form>
            </div>

            <div class="phone_div">
                <img src="static/img/icons/phone_icon.png">
                <div class="phone_number">
                    <p>+374000001</p>
                </div>

            </div>
        </div>
        <div class="navbar">
            <div class="logo_div"><img src="static/img/icons/logo_icon.png"  class="logo_img"></div>
            <div class="nav_links">
                <nav>
                    <a href="#" class="nav_items">Shop</a>
                    <a href="#" class="nav_items">Blog</a>
                    <a href="#" class="nav_items">About</a>
                    <a href="#" class="nav_items">Contact</a>
                </nav>
            </div>
            <div class="login"><button class="login_button">Log In</button></div>
        </div>
         <div class="main">
                <div class="photo_container">
                    <img src="static/img/general/general_photo.png"  class="logo_img">
                    <div class="good_honest"><p>Good Honest Spirits Made By Hand</p></div>
                    <div class="good_honest_text"><p>Crafted From The Heart.Ocally Made, Sustainably Crafted From Grain To Glass. Welcome To DEVINE Distillery.</p></div>
                    <div class="get_started"><button class="get_started_button">Get Started  <img src="src=static/img/icons/arrow.png"  ></button></div>
                    <div class="see_more_container">
                        <div class="see_more_text"> <p> -Lorem  ipsum  dolor  amet  sit   *Lorem  *Lorem ipsum dolor </p></div>
                        <div class="see_more_click"><a>See More</a></div>
                        <div class="see_more_arrow"><a><img src="static/img/icons/arrow.png"  class="logo_img"></a></div>
                        <div class="see_more_wine"><img src="static/img/general/wine_track.png"></div>
                    </div>
                    <div class="bottomright"><p>-Crafted From The Heart.Ocally Made</p></div>
                </div>
        </div>
        <div class="main">
            <div class="section_headers">
                <div class="about_section"><h1 class="bold about_wine_h1">Wine</h1><h1 class="about_wine_h1">assortement</h1></div>
                <div class="moto"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
            </div>
            <div class="triple_container">
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
               <div class="wine_cards">
                   <div class="wine_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
               </div>
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
            </div>
            <div class="triple_container">
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
               <div class="wine_cards">
                   <div class="wine_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
               </div>
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="content">
                <div class="newsletter">
                    <h1>Join the newsletter</h1>
                    <p>Join the group of people who receive access to a dose of expert knowledge every month.</p>
                </div>
                <div class="subscription">
                    <label class="email_adress_label">Email Adress*</label>
                    <span></span>
                    <div class="email_input_div">
                        <input class='email_input'type="text" placeholder="Your Email Adress">
                        <button type="submit">Subscribe</button>
                    </div>
                     <input class="subscription_checkbox" type="checkbox" id="CheckEmail" name="CheckEmail">
                    <label for="CheckEmail" class="chek_email_label">Partner with us to unlock the full potential of your digital </label>

                </div>
            </div>
            <div class="copyright">
                <div class="copyright_p">
                    <p>COPYRIGHT©TOPSOFT  2023.</p>
                    <p>Our website uses cookies to improve your experience. If you want to opt-out please click here.</p>
                </div>
                <div class="map_site">
                    <a href="#">Site Map</a>
                </div>
            </div>

        </div>

    </body>
</html>