{% extends 'base.html' %}
{% block body %}
    <div class="main">
        <div class="section_headers">
            <div class="about_section"><h1 class="about_header_h1"><span class="bold">Our</span> Events</h1></div>
            <div class="moto"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
        </div>
        <div class="triple_container">
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/general/event_1.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
                </div>
               <div class="container_cards">
                   <div class="container_item"><img src="static/img/general/event_2.png"></div>
                   <div class="card_about">
                       <div class="card_about_header">
                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
               </div>
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/general/event_3.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
                </div>
            </div>
        <div class="triple_container">
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/general/event_4.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
                </div>
               <div class="container_cards">
                   <div class="container_item"><img src="static/img/general/event_5.png" ></div>
                   <div class="card_about">
                       <div class="card_about_header">
                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
               </div>
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/general/event_6.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">

                           <h3 class="card_h3"><img src="static/img/icons/location.png">Armenia Areni</h3>
                           <h3 class="wine_pricing bold">22 May</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Reserve</button>
                   </div>
                </div>
            </div>
        <div class="about_us_header">
            <div class="about_us"><h1><span class="bold">Suggested </span>Guides</h1></div>
            <div class="moto_about"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
        </div>
        <div class="triple_container">
            <div class="container_cards carrousel">
                    <div class="container_item carrousel-item"><img src="static/img/general/guide_1.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
            <div class="container_cards">
                    <div class="container_item carrousel-item"><img src="static/img/general/guide_1.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
            <div class="container_cards">
                    <div class="container_item carrousel-item"><img src="static/img/general/guide_2.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>
            <div class="container_cards">
                    <div class="container_item carrousel-item"><img src="static/img/general/guide_3.png"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>James Bond</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                   </div>
            </div>


        </div>


    </div>





{% endblock %}