{% extends 'base.html' %}
{% block body %}
    <div class="main">
            <div class="photo_container">
                <div class="intro">
                    <div class="intro_img_div">
                        <img src="static/img/general/general_photo.png"  class="intro_img">
                    </div>
                    <div class="intro_text">
                        <h1>Good Honest Spirits Made By Hand</h1>
                        <div class="intro_text_p">
                            <p>Crafted From The Heart.Ocally Made, Sustainably Crafted From Grain To Glass. Welcome To DEVINE Distillery.</p>
                        </div>

                        <div class="get_started"><button class="get_started_button"><span>Get Started</span><img src="static/img/icons/arrow.png"></button></div>

                    </div>
                    <div class="see_more">
                        <p class="see_more_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="see_more_link">
                            <p>See More</p>
                            <img src="static/img/icons/arrow.png">
                        </a>
                        <img src="static\img\general\wine_track.png"  class="wine_track">
                    </div>
                </div>


            </div>
            <div class="section_headers">
                <div class="about_section"><h1 class="bold about_header_h1">Wine</h1><h1 class="about_header_h1">assortement</h1></div>
                <div class="moto"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
            </div>
            <div class="triple_container">
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
                </div>
               <div class="container_cards">
                   <div class="container_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
               </div>
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
                </div>
            </div>
            <div class="triple_container">
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
                </div>
               <div class="container_cards">
                   <div class="container_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
               </div>
                <div class="container_cards">
                    <div class="container_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="card_about">
                       <div class="card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="card_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="card_btn">Add to cart</button>
                   </div>
                </div>
            </div>
            <div class="blog_and_news_header">
                <div class="blog_and_news"><h1><span class="bold">Blog And </span>News</h1></div>
                <div class="moto_about"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
            </div>
            <div class="triple_container">
                <div class="news_cards">
                    <div class="news_item"><img src="static/img/general/news_1.png"  class="news_img"></div>
                    <div class="news_card_about">
                       <div class="news_card_about_header">
                           <p>22 May 2023</p>
                           <h3>Dessert and sparkling wines</h3>

                       </div>
                       <div class="news_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="see_more_btn">See More</button>
                   </div>
                </div>
               <div class="news_cards">
                   <div class="news_item"><img src="static/img/general/news_2.png"  class="news_img"></div>
                   <div class="news_card_about">
                       <div class="news_card_about_header">
                           <p>22 May 2023</p>
                           <h3>Dessert and sparkling wines</h3>

                       </div>
                       <div class="news_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="see_more_btn">See More</button>
                   </div>
               </div>
                <div class="news_cards">
                    <div class="news_item"><img src="static/img/general/news_3.png"  class="news_img"></div>
                    <div class="news_card_about">
                       <div class="news_card_about_header">
                           <p>22 May 2023</p>
                           <h3>Dessert and sparkling wines</h3>

                       </div>
                       <div class="news_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="see_more_btn">See More</button>
                   </div>
                </div>
            </div>
            <div class="about_us_header">
                <div class="about_us"><h1><span class="bold">About </span>Us</h1></div>
                <div class="moto_about"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
            </div>
            <div class="about_boxes_container">
                <div class="about_boxes">
                    <p class="numbers_for_about" >50</p>
                    <p>delivered prjects</p>
                </div>
                <div class="about_boxes two_times">
                    <p class="numbers_for_about" >100</p>
                    <p>createch company uk</p>
                </div>
                <div class="about_boxes end-content">
                    <p class="numbers_for_about" >230</p>
                    <p>world's business & technology</p>
                </div>
            </div>
            <div class="about_img">
                <img src="static/img/general/about_general.png">
            </div>
        </div>
{% endblock %}