{% extends 'base.html' %}
{% block body %}
    <div class="main">
            <div class="photo_container">
                    <!--<img src="static/img/general/general_photo.png"  class="logo_img">
                    <div class="good_honest"><p>Good Honest Spirits Made By Hand</p></div>
                    <div class="good_honest_text"><p>Crafted From The Heart.Ocally Made, Sustainably Crafted From Grain To Glass. Welcome To DEVINE Distillery.</p></div>
                    <div class="get_started"><button class="get_started_button">Get Started  <img src="src=static/img/icons/arrow.png"  ></button></div>
                    <div class="see_more_container">
                        <div class="see_more_text"> <p> -Lorem  ipsum  dolor  amet  sit   *Lorem  *Lorem ipsum dolor </p></div>
                        <div class="see_more_click"><a>See More</a></div>
                        <div class="see_more_arrow"><a><img src="static/img/icons/arrow.png"  class="logo_img"></a></div>
                        <div class="see_more_wine"><img src="static/img/general/wine_track.png"></div>
                    </div>
                    <div class="bottomright"><p>-Crafted From The Heart.Ocally Made</p></div>-->
                <div class="intro">
                    <div class="intro_img_div">
                        <img src="static/img/general/general_photo.png"  class="intro_img">
                    </div>
                    <div class="intro_text">
                        <h1>Good Honest Spirits Made By Hand</h1>
                        <div class="intro_text_p">
                            <p>Crafted From The Heart.Ocally Made, Sustainably Crafted From Grain To Glass. Welcome To DEVINE Distillery.</p>
                        </div>

                        <div class="get_started"><button class="get_started_button"><span>Get Started</span><img src="static/img/icons/arrow.png"></button></div>

                    </div>
                    <div class="see_more">
                        <p class="see_more_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#" class="see_more_link">
                            <p>See More</p>
                            <img src="static/img/icons/arrow.png">
                        </a>
                        <img src="static\img\general\wine_track.png"  class="wine_track">
                    </div>
                </div>


            </div>



            <div class="section_headers">
                <div class="about_section"><h1 class="bold about_wine_h1">Wine</h1><h1 class="about_wine_h1">assortement</h1></div>
                <div class="moto"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass</p></div>
            </div>
            <div class="triple_container">
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
               <div class="wine_cards">
                   <div class="wine_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
               </div>
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
            </div>
            <div class="triple_container">
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
               <div class="wine_cards">
                   <div class="wine_item"><img src="static/img/wines/peregrine-blue.png"  class="wine_img"></div>
                   <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
               </div>
                <div class="wine_cards">
                    <div class="wine_item"><img src="static/img/wines/peregrine-rose.png"  class="wine_img"></div>
                    <div class="wine_card_about">
                       <div class="wine_card_about_header">
                           <h3>Wine de la rose’</h3>
                           <h3 class="wine_pricing bold">14$ / 1.L</h3>
                       </div>
                       <div class="wine_description"><p>*crafted from the heart.ocally made, sustainably crafted from grain to glass.</p></div>
                       <button class="add_to_cart_btn">Add to cart</button>
                   </div>
                </div>
            </div>
        </div>
{% endblock %}